/*Moves the text at the top of the page*/
#title
{
  padding-left: 1em;
  color: black;
  text-align: center;
}

#titleName
{
  font-family: 'Poiret One', cursive;
}

#aboutTitle
{
  text-align: center;
  color: white;
  font-size: 50px;
}

body
{
   background-color: #c4c2c2;
   font-family: 'Ubuntu', sans-serif;
}

.title
{
  text-align: center;
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
}
.profile
{
  width=250px;
  height=250px;
  align=right;
  padding-right: 10em;
}


/* Card */
.card 
{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}
.card:hover 
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container 
{
  padding: 2px 16px;
  background-color:white;
  color:black;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	margin: 0 auto;
	background: white;
	
}

.photo
{
  width:540px;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  display:block;  
  padding-top: 5em;
}
.frontPhoto
{
  height:500px;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

/*Footer*/
#footer 
{
  background: #cccccc;
  opacity: 0.6;
  position:fixed;
  bottom:0;
  width: 100%;
}
      
.facebook
 {
  background: url('https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/facebook_circle-48.png');
  width: 48px;
  height: 48px;
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.googleplus 
{
  background: url('https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/google_circle-48.png');
  width: 48px;
  height: 48px;
  position:relative;
}

.instagram 
{
  background: url('https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/instagram_circle-48.png');
  width: 48px;
  height: 48px;
  position:relative;
}

.linkedin 
{
  background: url('https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/linkedin_circle-48.png');
  width: 48px;
  height: 48px;
  position:relative;
}

.github 
{
  background: url('https://cdn1.iconfinder.com/data/icons/logotypes/32/github-48.png');
  width: 48px;
  height: 48px;
  position:relative;
}

.twitch 
{
  background: url('https://cdn0.iconfinder.com/data/icons/social-network-9/50/16-48.png');
  width: 48px;
  height: 48px;
  position:relative;
}

.facebook:hover> .overlay, .googleplus:hover> .overlay, .instagram:hover> .overlay, .linkedin:hover> .overlay, .github:hover> .overlay, .twitch:hover> .overlay 
{
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
}

/* for the projects page */
.container {
    position: relative;
    width: 50%;
    margin-top:3em;
}

.projectImage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.text {
  /*background-color: #4CAF50;*/
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.container:hover .projectImage {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
}